.todo {
  width: 100%;
  background-color: white;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.1rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.inputLabel {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
}
.inputLabel div {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputLabel label {
  color: #484b6a;
  width: 90%;
}
.todo button {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
