.todoListFunctionsMobile {
  margin-top: 2rem;
  background-color: var(--input-background-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.todoListFunctionsMobile button {
  color: #9394a5;
  font-family: inherit;
  font-weight: bold;
}
.todoListFunctionsMobile button:disabled {
  color: rgba(147, 148, 165, 0.5);
  pointer-events: none;
}
.todoListFunctionsMobile button:hover {
  color: hsl(220, 98%, 61%);
}
.todoListFunctionsMobile button:active {
  color: hsl(220, 98%, 61%);
}
.todoListFunctionsWeb {
  display: none;
}
@media (min-width: 750px) {
  .todoListFunctionsMobile {
    display: none;
  }
  .todoListFunctionsWeb {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .todoListFunctionsWeb button {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .todoListFunctionsWeb button:hover {
    color: hsl(220, 98%, 61%);
  }
  .todoListFunctionsWeb button:active {
    color: hsl(220, 98%, 61%);
  }
}
